@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

.nav {
  margin-top: -9px;
  width: 100vw;
  height: 60px;
  position: fixed;

  background: #fafaff60;
  backdrop-filter: blur(20px);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  margin-right: 20px;
}

.front {
  color: rgb(36, 35, 41);
  font-size: 20px;
}
.back {
  color: rgb(72, 121, 255);
  font-size: 20px;
}

.item {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-right: 40px;
  color: rgb(70, 70, 70);
}